/* Card.css */
.card {
    width: 300px;
    border: 2px solid transparent;
    overflow: hidden;
    position: relative;
    padding: 1px;
    margin: 20px;
    background: linear-gradient(45deg, #ff6ec4, #7873f5, #4fd1c5, #f7a278);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .card-content {
    padding: 16px;
    background-color: #111;
   
  }
  
  .card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #fff;
  }
  
  .card-description {
    font-size: 1rem;
    color: #fff;
  }